.Header 
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.Header_Left 
{
    background-color: white;
    color: grey;
    min-width: 210px;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.Header_Left  > input
{
    border: none;
    width: 100%;
}
.Header_Right 
{
    display: flex;
    align-items: center;
}
.Header_Right > h4 
{
    margin-left: 10px;
}